@inject IJSRuntime _jsruntime

<div>
	<div class="alert alert-info">
		@Title
	</div>
	@if(ChildContent!=null)
	{
		<div class="alert alert-success">
			@ChildContent
		</div>
	}
</div>
<button class="btn btn-danger" @onclick="OnButtonClick">Click me</button>
<_GrandChildComponent >

</_GrandChildComponent>
@code {
	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public EventCallback OnButtonClick { get; set; }

	public async Task ToastrSuccess()
	{
		//await _jsruntime.InvokeVoidAsync("showToastr", "success", "Success Notification");
		await _jsruntime.ToastrSuccess("Success Notification");
	}

}
