<div>
	<h4 class="text-primary pt-6 col-12">Grand child Component</h4>
	<p>There is a message - @MassageForGrandChild</p>
	<p>There is a number - @luckynumber</p>

</div>

@code {
	[CascadingParameter]
	public string MassageForGrandChild { get; set; }
	[CascadingParameter]
	public int luckynumber { get; set; }

}
